In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\star\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: numpy>=1.16.5 in c:\users\star\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\star\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\star\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\star\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install numpy

Requirement already satisfied: numpy in c:\users\star\anaconda3\lib\site-packages (1.20.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('covid.csv')
df

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio (%),Discharge Ratio (%),Death Ratio (%)
0,Andaman and Nicobar,7525,14,7382,129,0.19,98.10,1.71
1,Andhra Pradesh,1952513,22358,1916914,13241,1.15,98.18,0.68
2,Arunachal Pradesh,45703,4465,41025,213,9.77,89.76,0.47
3,Assam,557437,15726,536597,5114,2.82,96.26,0.92
4,Bihar,72439075,530,714223,9637,0.07,98.60,1.33
5,Chandigarh,61922,32,61081,809,0.05,98.64,1.31
6,Chhattisgarh,1001037,2789,984737,13511,0.28,98.37,1.35
7,Dadra and Nagar Haveli and Daman and Diu,10637,48,10585,4,0.45,99.51,0.04
8,Delhi,1435844,587,1410216,25041,0.04,98.22,1.74
9,Goa,170416,1238,166052,3126,0.73,97.44,1.83
10,Gujarat,824683,342,814265,10076,0.04,98.74,1.22
11,Haryana,769717,740,759360,9617,0.10,98.65,1.25
12,Himachal Pradesh,205017,931,200573,3513,0.45,97.83,1.71
13,Jammu and Kashmir,320491,1319,314798,4374,0.41,98.22,1.36
14,Jharkhand,346918,276,341518,5124,0.08,98.44,1.48
15,Karnataka,2893556,23928,2833276,36352,0.83,97.92,1.26
16,Kerala,3254064,1386262,3099469,15969,4.26,95.25,0.49
17,Ladakh,20296,68,20021,207,0.34,98.65,1.02
18,Lakshadweep,10127,81,9997,49,0.80,98.72,0.48
19,Madhya Pradesh,791738,149,781077,10512,0.02,98.65,1.33
20,Maharashtra,6258079,96833,6029817,131429,1.55,96.35,2.10
21,Manipur,91460,10251,79744,1465,11.21,87.19,1.60
22,Meghalaya,60597,4708,54875,1014,7.77,90.56,1.67
23,Mizoram,31145,7772,23238,135,24.95,74.61,0.43
24,Nagaland,27240,1312,25390,538,4.82,93.21,1.98
25,Odisha,965715,17201,943069,5445,1.78,97.66,0.56
26,Puducherry,120227,922,117518,1787,0.77,97.75,1.49
27,Punjab,598741,771,581712,16258,0.13,97.16,2.72
28,Rajasthan,953522,328,944242,8952,0.03,99.03,0.94
29,Sikkim,24823,2849,21644,330,11.48,87.19,1.33
30,Tamil Nadu,2546689,24025,2488775,33889,0.94,97.73,1.33
31,Telengana,640659,9625,627254,3780,1.50,97.91,0.59
32,Tripura,76315,3934,71642,739,5.15,93.88,0.97
33,Uttar Pradesh,1708152,932,1684471,22749,0.05,98.61,1.33
34,Uttarakhand,341673,611,333703,7359,0.18,97.67,2.15
35,West Bengal,1522833,11891,1492878,18064,0.78,98.03,1.19

In [12]:
df.head(5)

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio (%),Discharge Ratio (%),Death Ratio (%)
0,Andaman and Nicobar,7525,14,7382,129,0.19,98.10,1.71
1,Andhra Pradesh,1952513,22358,1916914,13241,1.15,98.18,0.68
2,Arunachal Pradesh,45703,4465,41025,213,9.77,89.76,0.47
3,Assam,557437,15726,536597,5114,2.82,96.26,0.92
4,Bihar,72439075,530,714223,9637,0.07,98.60,1.33

In [13]:
df.tail(10)

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio (%),Discharge Ratio (%),Death Ratio (%)
26,Puducherry,120227,922,117518,1787,0.77,97.75,1.49
27,Punjab,598741,771,581712,16258,0.13,97.16,2.72
28,Rajasthan,953522,328,944242,8952,0.03,99.03,0.94
29,Sikkim,24823,2849,21644,330,11.48,87.19,1.33
30,Tamil Nadu,2546689,24025,2488775,33889,0.94,97.73,1.33
31,Telengana,640659,9625,627254,3780,1.50,97.91,0.59
32,Tripura,76315,3934,71642,739,5.15,93.88,0.97
33,Uttar Pradesh,1708152,932,1684471,22749,0.05,98.61,1.33
34,Uttarakhand,341673,611,333703,7359,0.18,97.67,2.15
35,West Bengal,1522833,11891,1492878,18064,0.78,98.03,1.19

In [20]:
df.describe()

,Total Cases,Active,Discharged,Deaths,Active Ratio (%),Discharge Ratio (%),Death Ratio (%)
count,3.600000e+01,3.600000e+01,3.600000e+01,36.000000,36.000000,36.000000,36.000000
mean,2.863516e+06,4.599578e+04,8.484205e+05,11681.972222,2.665833,96.074722,1.260000
std,1.199312e+07,2.303794e+05,1.213779e+06,22587.031797,4.985038,4.877221,0.565241
min,7.525000e+03,1.400000e+01,7.382000e+03,4.000000,0.020000,74.610000,0.040000
25%,6.159075e+04,4.830000e+02,5.952950e+04,791.500000,0.122500,96.327500,0.935000
50%,4.521775e+05,1.275000e+03,4.390575e+05,5119.000000,0.750000,97.915000,1.330000
75%,1.109739e+06,9.781500e+03,9.543658e+05,13308.500000,2.040000,98.602500,1.617500
max,7.243908e+07,1.386262e+06,6.029817e+06,131429.000000,24.950000,99.510000,2.720000

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   State/UTs            36 non-null     object
 1   Total Cases          36 non-null     int64
 2   Active               36 non-null     int64
 3   Discharged           36 non-null     int64
 4   Deaths               36 non-null     int64
 5   Active Ratio (%)     36 non-null     float64
 6   Discharge Ratio (%)  36 non-null     float64
 7   Death Ratio (%)      36 non-null     float64
dtypes: float64(3), int64(4), object(1)
memory usage: 2.4+ KB

In [22]:
df.isnull()

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio (%),Discharge Ratio (%),Death Ratio (%)
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False

In [24]:
type(df)

pandas.core.frame.DataFrame

In [44]:
df.loc[: ,['State/UTs','Discharged','Deaths']]

                                   State/UTs  Discharged  Deaths
0                        Andaman and Nicobar        7382     129
1                             Andhra Pradesh     1916914   13241
2                          Arunachal Pradesh       41025     213
3                                      Assam      536597    5114
4                                      Bihar      714223    9637
5                                 Chandigarh       61081     809
6                               Chhattisgarh      984737   13511
7   Dadra and Nagar Haveli and Daman and Diu       10585       4
8                                      Delhi     1410216   25041
9                                        Goa      166052    3126
10                                   Gujarat      814265   10076
11                                   Haryana      759360    9617
12                          Himachal Pradesh      200573    3513
13                         Jammu and Kashmir      314798    4374
14                                 Jharkhand      341518    5124
15                                 Karnataka     2833276   36352
16                                    Kerala     3099469   15969
17                                    Ladakh       20021     207
18                               Lakshadweep        9997      49
19                            Madhya Pradesh      781077   10512
20                               Maharashtra     6029817  131429
21                                   Manipur       79744    1465
22                                 Meghalaya       54875    1014
23                                   Mizoram       23238     135
24                                  Nagaland       25390     538
25                                    Odisha      943069    5445
26                                Puducherry      117518    1787
27                                    Punjab      581712   16258
28                                 Rajasthan      944242    8952
29                                    Sikkim       21644     330
30                                Tamil Nadu     2488775   33889
31                                 Telengana      627254    3780
32                                   Tripura       71642     739
33                             Uttar Pradesh     1684471   22749
34                               Uttarakhand      333703    7359
35                               West Bengal     1492878   18064

In [46]:
pd.get_dummies(df)

,Total Cases,Active,Discharged,Deaths,Active Ratio (%),Discharge Ratio (%),Death Ratio (%),State/UTs_Andaman and Nicobar,State/UTs_Andhra Pradesh,State/UTs_Arunachal Pradesh,...,State/UTs_Puducherry,State/UTs_Punjab,State/UTs_Rajasthan,State/UTs_Sikkim,State/UTs_Tamil Nadu,State/UTs_Telengana,State/UTs_Tripura,State/UTs_Uttar Pradesh,State/UTs_Uttarakhand,State/UTs_West Bengal
0,7525,14,7382,129,0.19,98.10,1.71,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1952513,22358,1916914,13241,1.15,98.18,0.68,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,45703,4465,41025,213,9.77,89.76,0.47,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,557437,15726,536597,5114,2.82,96.26,0.92,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,72439075,530,714223,9637,0.07,98.60,1.33,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,61922,32,61081,809,0.05,98.64,1.31,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1001037,2789,984737,13511,0.28,98.37,1.35,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,10637,48,10585,4,0.45,99.51,0.04,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1435844,587,1410216,25041,0.04,98.22,1.74,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,170416,1238,166052,3126,0.73,97.44,1.83,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,824683,342,814265,10076,0.04,98.74,1.22,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,769717,740,759360,9617,0.10,98.65,1.25,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,205017,931,200573,3513,0.45,97.83,1.71,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,320491,1319,314798,4374,0.41,98.22,1.36,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,346918,276,341518,5124,0.08,98.44,1.48,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,2893556,23928,2833276,36352,0.83,97.92,1.26,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,3254064,1386262,3099469,15969,4.26,95.25,0.49,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,20296,68,20021,207,0.34,98.65,1.02,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,10127,81,9997,49,0.80,98.72,0.48,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,791738,149,781077,10512,0.02,98.65,1.33,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,6258079,96833,6029817,131429,1.55,96.35,2.10,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,91460,10251,79744,1465,11.21,87.19,1.60,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,60597,4708,54875,1014,7.77,90.56,1.67,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,31145,7772,23238,135,24.95,74.61,0.43,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,27240,1312,25390,538,4.82,93.21,1.98,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,965715,17201,943069,5445,1.78,97.66,0.56,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,120227,922,117518,1787,0.77,97.75,1.49,0,0,0,...,1,0,0,0,0,0,0,0,0,0
27,598741,771,581712,16258,0.13,97.16,2.72,0,0,0,...,0,1,0,0,0,0,0,0,0,0
28,953522,328,944242,8952,0.03,99.03,0.94,0,0,0,...,0,0,1,0,0,0,0,0,0,0
29,24823,2849,21644,330,11.48,87.19,1.33,0,0,0,...,0,0,0,1,0,0,0,0,0,0
30,2546689,24025,2488775,33889,0.94,97.73,1.33,0,0,0,...,0,0,0,0,1,0,0,0,0,0
31,640659,9625,627254,3780,1.50,97.91,0.59,0,0,0,...,0,0,0,0,0,1,0,0,0,0
32,76315,3934,71642,739,5.15,93.88,0.97,0,0,0,...,0,0,0,0,0,0,1,0,0,0
33,1708152,932,1684471,22749,0.05,98.61,1.33,0,0,0,...,0,0,0,0,0,0,0,1,0,0
34,341673,611,333703,7359,0.18,97.67,2.15,0,0,0,...,0,0,0,0,0,0,0,0,1,0
35,1522833,11891,1492878,18064,0.78,98.03,1.19,0,0,0,...,0,0,0,0,0,0,0,0,0,1